<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light white">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Jalal Shekho, owner of Haneen Fashion, is a designer and master tailor who learned his craft in 
          Jordan, Syria, and Turkey. For over thirty years, he has nurtured his passion for creating unique 
          clothing with an emphasis on quality and detail.
        </p>
      </div>
      <div class="col-lg-4">
        <p>Whether you're looking for a beautiful wedding dress or alterations to your everyday wear, Jalal
          Shekho at Haneen Fashions will deliver what you need quickly and professionally.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://wa.me/18729858679" class="btn btn-lg btn-outline">
          <i class="fa fa-mobile"></i>  &nbsp;Get in touch on Whatsapp
        </a>
      </div>
    </div>
  </div>
</section>
